body{
	background-color:#480000;
	
}
.wrapper{
	width: 80%;
	height: auto;
	min-height: 500px;
	margin: 20px auto;
	background-color:#111111;
	min-width: 800px;
	max-width: 1100px;
	border-radius:7px;
	border-top: 2px solid #222222;
	box-shadow: 5px 5px 2px #200000;
	padding: 12px;
}
.logout{
	border-radius:3px;
	margin: 2px;
	margin-bottom: 180px;
	width: 110px;
	float: right;
}
.signin{
	color: #EEE;
	background-color:#0A0A0A;
	border-color: #110000;
	border-style: solid;
	border-width:5px;
	max-width: 600px;
	border-radius:6px;
	float: right;
	margin-top: 15px;
	padding-bottom: 10px;
	margin-right: 5px;
	width: 200px;
	height: 120px;
}
.loginBtn{
	padding: 15px;
	width:155px;
	height: 25px;
}
p{
	display:inline;
	font-family:"Courier New";
	font-weight:bold;
}
#ui{
	text-align:center;
	background-color: #000000;
	padding-top:5px;
	padding-bottom:5px;
}
.match{
	background-color: #000000;
	text-align:center;
	color:#FFFFFF;
	font-family:"Impact";
	padding-top: 40px;
	padding-bottom: 20px;
}
#rd {
	color:#007A00;
	font-family:"Arial";
}
#dr {
	color:#B20000;
	font-family:"Arial";
}
caption{
	font-size:16px;
	font-weight:bold;
}
tr, th, td{
	color:#FFFFFF;
	background-color:#333;
	font-family:"Tahoma";
	padding: 3px;
	font-size:15px;
	font-weight: normal;

}
form input[type=text]{
	background-color:;
	font-family: "Courier New";
	font-weight:bold;
	font-size:16pt;
	width: 332px;
}

form input[type=submit]{
	padding:3px;
	background-color:#99cc00;
	font-family:"Impact";
	font-size:14pt;

}
table{
	text-align:center;
	color:#FFFFFF;
	font-family:"Impact";
	margin: 0 auto;
	padding: 5px;
	background-color: #202020;
}
